<header class="header">
    <h1>The Rick and Morty</h1>
</header>

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list-item" routerLinkActive="active">
            <a routerLink="/characters" [queryParams]="{ fromPage : characterPage, nameSearch : characterNameSearch }" class="nav-link">Characters</a>
            <a routerLink="/character" class="nav-link" style="display: none;">Characters</a>
        </li>
        <li class="nav__list-item" routerLinkActive="active">
            <a routerLink="/episodes" class="nav-link">Episode Guide</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
