<section class="characters container">
    <div class="characters__search">
        <input class="characters__search-input" name="name-search" placeholder="Search By Name" type="text" autocomplete="off" [(ngModel)]="searchTerm" aria-label="Search character by name" />
        <button class="characters__search-btn" (click)="getCharacters(1)">Search</button>
    </div>

    <table *ngIf="characterCall" class="interactive">
        <tbody *ngIf="characterCall.results">
            <tr *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }" role="link">
                <td>{{c.name}}</td>
                <td>{{c.species}}</td>
                <td>{{c.status}}</td>
                <td>{{c.gender}}</td>
            </tr>
        </tbody>
    </table>

    <ng-container *ngIf="pages">
        <div class="pagination" role="navigation" aria-label="Pagination">
            <button *ngFor="let p of pages" [ngClass]="{'active': (p === currentPage)}" (click)="getCharacters(p)">{{p}}</button>
        </div>
    </ng-container>
</section>
